body{
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    
}
.category{
    font-size: large;
    width: 100px;
    padding: 100px;
    margin: 100px;
}



.border, td, tr {
    border-style: dashed;
    border-radius: 10px;
    border-collapse: collapse;
    border-color: black;
}
