body{
    font-family: Arial, Helvetica, sans-serif;    
}
.category{
    font-size: large;
    width: 100px;
    padding: 100px;
    margin: 100px;
}

table{
    border-bottom: collapse;
    width: 100%;
}

td, th{
    padding: 5px;
    margin: 5px;
    width: 25%;
}

.tr1{
    border-top: 2px solid rgb(255, 160, 160);
    border-left:2px dotted black;
    border-right: 2px dotted black;
}

.tr2{
    border-left:2px dotted black;
    border-right: 2px dotted black;
}

.tr3{
    border-bottom: 2px solid rgb(42, 131, 255);
    border-left:2px dotted black;
    border-right: 2px dotted black;
}

